@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    /* Font size (labels): 16px */
}

:root{
    --Light-Green: hsl(148, 38%, 91%);
    --Green: hsl(169, 82%, 27%);
    --Red: hsl(0, 66%, 56%);
    --White: hsl(0, 0%, 100%);
    --Medium--Grey: hsl(186, 15%, 59%);
    --Dark-Grey: hsl(187, 24%, 22%);
    --Ligth-font: 400;
    --Bold-font: 700;
}

body{
    min-height: 100vh;
    font-family: 'Karla';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Light-Green);
}

main{
    width: 90%;
    max-width: 600px;
    height: 100%;
}

form {
    padding: 40px;
    background-color: var(--White);
    border-radius: 10px;
}

fieldset{
    border: none;
}

form p.message-error{
    display: none;
    margin-top: 10px;
    font-size: 0.875rem;
    color: var(--Red);
    font-weight: var(--Ligth-font);
}

legend.form-legend{
    font-size: 1.5rem;
    font-weight: var(--Bold-font);
    color: var(--Dark-Grey);
    margin-bottom: 20px;
}

fieldset label{
    font-weight: var(--Ligth-font);
    font-size: 1rem;
    margin-bottom: 10px;
}

form input[type=text],input[type=email]{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--Medium--Grey);
    padding-left: 15px;
    outline: 0;
    font-size: 1rem;
    color: var(--Dark-Grey);
}

input[type=text]:focus,input[type=email]:focus{
    border: 2px solid var(--Green);
}

.form-name-container, .type-content{
    display: flex;
    justify-content: space-between;
}

.form-name-wraper{
    width: 49%;
    margin-bottom: 20px;
}

.form-name-wraper,.form-email,.form-message{
    display: flex;
    flex-direction: column;
}

.form-email{
    margin-bottom: 20px;
}

legend.form-query-type{
    font-size: var(--Ligth-font);
    font-size: 1rem;
    margin-bottom: 10px;
}

.query-type-wraper input[type=radio]{
    width: 20px;
    height: 20px;
    display: block;
    cursor: pointer;
}

.query-type-wraper{
    width: 49%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--Medium--Grey);
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 20px;
}

.query-type-wraper .radio-mark{
    display: none;
    width: 20px;
    height: 20px;
    background: url('/images/icon-radio-selected.svg') no-repeat center center;
    background-size: contain;
}

.query-type-wraper > label{
    font-size: 1.063rem;
    padding-left: 12px;
    margin-bottom: 0px;
    cursor: pointer;
}

.form-message{
    margin-top: 20px;
}

.form-message textarea{
    width: 100%;
    height: 130px;
    border-radius: 10px;
    resize:none;
    border: 1px solid var(--Medium--Grey);
    padding: 15px;
    font-size: 1rem;
    color: var(--Dark-Grey);
    outline: 0;
}

.form-message textarea:focus{
    border: 2px solid var(--Green);
}

.form-chekbox{
    margin: 30px 0;
}

.form-chekbox input[type=checkbox]{
    width: 15px;
    height: 15px;
    margin-right: 15px;
    cursor: pointer;
}

.form-chekbox .checkbox-mark{
    display: none;
    width: 15px;
    height: 15px;
    margin-right: 15px;
    background: url('/images/icon-checkbox-check.svg') no-repeat center center;
    background-size: contain;
}

.checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content label{
    margin-bottom: 0px;
}

.form-input-submit input[type=submit]{
    width: 100%;
    height: 50px;
    font-size: 1rem;
    font-weight: var(--Bold-font);
    color: var(--White);
    background-color: var(--Green);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.form-input-submit input[type=submit]:hover{
    background-color: var(--Dark-Grey);
}

.message-success{
    display: none;
    background-color: var(--Dark-Grey);
    color: var(--White);
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.message-success > p{
    color: var(--Medium--Grey);
}

.message-success header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.message-success header p{
    margin-left: 10px;
    font-weight: var(--Bold-font);
}

.progress-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--White);
    border-radius: 0 0 10px 10px;
}

.progress-bar .progress{
    width: 0;
    height: 100%;
    background-color: var(--Medium--Grey);
    transition: width 3s linear;
}

@media screen and (max-width:540px){

    body{
        justify-content: start;
        margin: 50px 0;
    }

    form {
        padding: 25px;
    }

    .form-name-container, .type-content{
        flex-direction: column;
    }

    .form-name-wraper{
        width: 100%;
    }

    .query-type-wraper{
        width: 100%;
    }

    .query-type-left{
        margin-bottom: 20px;
    }

    .message-success{
        width: 90%;
    }

}
